In [1]:
import pandas as pd
df=pd.read_csv("tracks.csv")
df

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,35iwgR4jXetI318WEWsa1Q,Carve,6,126903,NaN,['Uli'],['45tIt06XoI0Iio4LBEVpls'],22-02-1922,0.645,0.4450,0.0,-13.338,1.0,0.4510,0.674,0.7440,0.151,0.127,104.851,3
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,0,98200,NaN,['Fernando Pessoa'],['14jtPCOoNZwquk5wd9DxrY'],01-06-1922,0.695,0.2630,0.0,-22.136,1.0,0.9570,0.797,0.0000,0.148,0.655,102.009,1
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,0,181640,NaN,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],21-03-1922,0.434,0.1770,1.0,-21.180,1.0,0.0512,0.994,0.0218,0.212,0.457,130.418,5
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,0,176907,NaN,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],21-03-1922,0.321,0.0946,7.0,-27.961,1.0,0.0504,0.995,0.9180,0.104,0.397,169.980,3
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,0,163080,NaN,['Dick Haymes'],['3BiJGZsyX9sJchTqcSA7Su'],1922,0.402,0.1580,3.0,-16.900,0.0,0.0390,0.989,0.1300,0.311,0.196,103.220,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587317,0ZLFySfiageV9HiIi5gta0,Chapter 5.13 - Król Maciuś Pierwszy,0,142400,NaN,['Janusz Korczak'],['4hLtcEEpjCmBtTnDdzRV4J'],27-12-1923,0.630,0.2620,1.0,-18.944,1.0,0.9590,0.788,0.0000,0.236,0.787,167.846,5
587318,0ZRoSs5icoW5QJvZq0Y73w,Demasiado tarde - en vivo,0,185063,NaN,['Yiyo y Los Chicos 10'],['6JXytsNesnjzxv4tHWbe9I'],1923,0.583,0.7150,11.0,-2.410,0.0,0.0287,0.839,0.0000,0.363,0.772,104.346,4
587319,0bKuq3fIaF2ut82ip9DQLP,Chapter 7.17 - Król Maciuś Pierwszy,0,131400,NaN,['Janusz Korczak'],['4hLtcEEpjCmBtTnDdzRV4J'],27-12-1923,0.713,0.2050,10.0,-19.485,0.0,0.9370,0.747,0.0000,0.387,0.697,110.768,5
587320,0bu5dGUeiK4QwwcC50yWQU,Chapter 7.12 - Król Maciuś Pierwszy,0,139000,NaN,['Janusz Korczak'],['4hLtcEEpjCmBtTnDdzRV4J'],27-12-1923,0.703,0.1680,5.0,-21.155,0.0,0.9580,0.718,0.0000,0.319,0.699,83.097,3
587321,0epiP90h88hjRHGk9RIins,Chapter 4.3 - Król Maciuś na wyspie bezludnej,0,144300,NaN,['Janusz Korczak'],['4hLtcEEpjCmBtTnDdzRV4J'],27-12-1923,0.637,0.2750,1.0,-19.782,1.0,0.9620,0.735,0.0000,0.158,0.603,163.142,3

In [2]:
df.shape

(587322, 20)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587322 entries, 0 to 587321
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                587322 non-null  object
 1   name              587251 non-null  object
 2   popularity        587322 non-null  int64
 3   duration_ms       587322 non-null  int64
 4   explicit          112335 non-null  float64
 5   artists           587322 non-null  object
 6   id_artists        587322 non-null  object
 7   release_date      587322 non-null  object
 8   danceability      587322 non-null  float64
 9   energy            587322 non-null  float64
 10  key               587247 non-null  float64
 11  loudness          587322 non-null  float64
 12  mode              587178 non-null  float64
 13  speechiness       587322 non-null  float64
 14  acousticness      587322 non-null  float64
 15  instrumentalness  587322 non-null  float64
 16  liveness          587322 non-null  float64
 17  valence           587322 non-null  float64
 18  tempo             587322 non-null  float64
 19  time_signature    587322 non-null  int64
dtypes: float64(12), int64(3), object(5)
memory usage: 89.6+ MB

In [4]:
#checking for the total number of null values in each column
df.isna().sum()

id                       0
name                    71
popularity               0
duration_ms              0
explicit            474987
artists                  0
id_artists               0
release_date             0
danceability             0
energy                   0
key                     75
loudness                 0
mode                   144
speechiness              0
acousticness             0
instrumentalness         0
liveness                 0
valence                  0
tempo                    0
time_signature           0
dtype: int64

In [5]:
#checking for the percentage of null values
(df.isna().sum()/len(df))*100

id                   0.000000
name                 0.012089
popularity           0.000000
duration_ms          0.000000
explicit            80.873354
artists              0.000000
id_artists           0.000000
release_date         0.000000
danceability         0.000000
energy               0.000000
key                  0.012770
loudness             0.000000
mode                 0.024518
speechiness          0.000000
acousticness         0.000000
instrumentalness     0.000000
liveness             0.000000
valence              0.000000
tempo                0.000000
time_signature       0.000000
dtype: float64

In [6]:
df.describe()

,popularity,duration_ms,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,587322.000000,5.873220e+05,112335.000000,587322.000000,587322.000000,587247.000000,587322.000000,587178.000000,587322.000000,587322.000000,587322.000000,587322.000000,587322.000000,587322.000000,587322.000000
mean,27.577040,2.300632e+05,0.053145,0.563568,0.542078,5.221609,-10.206759,0.658843,0.104839,0.449716,0.113447,0.213908,0.552271,118.467246,3.873405
std,18.368858,1.264969e+05,0.224323,0.166103,0.251922,3.519443,5.089061,0.474098,0.179870,0.348836,0.266857,0.184304,0.257664,29.762588,0.473124
min,0.000000,3.344000e+03,0.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,1.750990e+05,0.000000,0.453000,0.343000,2.000000,-12.892000,0.000000,0.034000,0.096700,0.000000,0.098300,0.346000,95.608000,4.000000
50%,27.000000,2.149200e+05,0.000000,0.577000,0.549000,5.000000,-9.244000,1.000000,0.044300,0.422000,0.000024,0.139000,0.564000,117.386000,4.000000
75%,41.000000,2.638800e+05,0.000000,0.686000,0.748000,8.000000,-6.482000,1.000000,0.076300,0.784000,0.009558,0.278000,0.769000,136.324000,4.000000
max,100.000000,5.621218e+06,1.000000,0.991000,1.000000,11.000000,5.376000,1.000000,0.971000,0.996000,1.000000,1.000000,1.000000,246.381000,5.000000

In [7]:
#filling the null values for the column 'key'
print(df["key"].median())

5.0

In [8]:
df=df.fillna(df["key"].median())

In [9]:
#filling the null values for the column 'mode'
df["mode"].median()

1.0

In [10]:
df=df.fillna(df["mode"].median())

In [11]:
#filling the null values for the column 'name'
df["name"].mode()[0]

'Summertime'

In [12]:
df=df.fillna(df["name"].mode()[0])

In [13]:
#dropping the column "explicit"
df.drop(["explicit"], axis=1, inplace= True)

In [14]:
df.shape

(587322, 19)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587322 entries, 0 to 587321
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                587322 non-null  object
 1   name              587322 non-null  object
 2   popularity        587322 non-null  int64
 3   duration_ms       587322 non-null  int64
 4   artists           587322 non-null  object
 5   id_artists        587322 non-null  object
 6   release_date      587322 non-null  object
 7   danceability      587322 non-null  float64
 8   energy            587322 non-null  float64
 9   key               587322 non-null  float64
 10  loudness          587322 non-null  float64
 11  mode              587322 non-null  float64
 12  speechiness       587322 non-null  float64
 13  acousticness      587322 non-null  float64
 14  instrumentalness  587322 non-null  float64
 15  liveness          587322 non-null  float64
 16  valence           587322 non-null  float64
 17  tempo             587322 non-null  float64
 18  time_signature    587322 non-null  int64
dtypes: float64(11), int64(3), object(5)
memory usage: 85.1+ MB

In [16]:
(df.isnull().sum()/len(df))*100

id                  0.0
name                0.0
popularity          0.0
duration_ms         0.0
artists             0.0
id_artists          0.0
release_date        0.0
danceability        0.0
energy              0.0
key                 0.0
loudness            0.0
mode                0.0
speechiness         0.0
acousticness        0.0
instrumentalness    0.0
liveness            0.0
valence             0.0
tempo               0.0
time_signature      0.0
dtype: float64

In [17]:
#checking for duplicates
df.duplicated().sum()

650

In [18]:
#dropping duplicates
df.drop_duplicates(inplace=True)

In [19]:
df.duplicated().sum()

0

In [20]:
#creating a creaned csv
df.to_csv("tracks_cleaned.csv", index=False)

In [23]:
#slicing as the data set id too large to handle
df1=df.iloc[:4000, ::]

In [24]:
df1.shape

(4000, 19)

In [25]:
#creating a csv after slicing the data
df1.to_csv("tracks_sliced.csv", index=False)